extends ../layouts/frontend

block content
    div.heading
        div.container
            div.row
                h1.text-center
                    a(href="#{config.app.url}") #{config.app.name}

                div.col-md-6.col-md-offset-3
                    form(method="get", action="/search")
                        div.input-group.input-group-lg
                            input.form-control(type="text", name="q", placeholder="Search for guides")
                            span.input-group-btn
                                button.btn.btn-default(type="submit")
                                    i.fa.fa-search

                // Topics
                if categories.length
                    div.col-md-8.col-md-offset-2
                        .topics
                            h2
                                span Topics
                            ul
                                for cat in categories
                                    li &middot;
                                    li(class=category && category._id.toString() == cat._id.toString() ? "active" : "")
                                        a(href="/category/#{cat.slug}") #{cat.name}

    div.container
        div.row
            // Latest guides
            div.col-md-8.col-md-offset-2
                h2
                    if category
                        a(href="/category/#{category.slug}") #{category.name}
                    else if q
                        | Search Results
                    else
                        | Explore the latest guides

                if !posts || posts.length == 0
                    p There are no guides
                else
                    div.list-group
                        for post in posts
                            a.list-group-item(href="/post/#{post.slug}")
                                span #{post.title}
                                span.pull-right #{moment(post.created_date).format('YYYY-MM-DD HH:mm')}

                // Pagination
                if (numPages > 1)
                    div.text-center
                        ul.pagination
                            li(class=page == 1 ? 'disabled' : '')
                                a(href=page == 1 ? '#' : url(req, { page: 1 })) &larr;
                            li(class=page == 1 ? 'disabled' : '')
                                a(href=page == 1 ? '#' : url(req, { page: parseInt(page) - 1 })) &laquo;
                            - for (i = startRange; i <= endRange; i++)
                                li(class=(i == page) ? 'active' : '')
                                    a(href="#{url(req, { page: i })}") #{i}
                            li(class=page == numPages ? 'disabled' : '')
                                a(href=page == numPages ? '#' : url(req, { page: parseInt(page) + 1 })) &raquo;
                            li(class=page == numPages ? 'disabled' : '')
                                a(href=page == numPages ? '#' : url(req, { page: numPages })) &rarr;