extends ../layouts/frontend

block head
    link(rel="stylesheet", href="/vendor/highlight/styles/github.css")

block content
    .post.post-with-toc
        .post-header
            a.btn.pull-left.tooltipButton#toggle(data-placement="bottom", data-title="Toogle the table of contents")
                i.fa.fa-align-justify
            a.btn.pull-left.tooltipButton(href="#{appUrl}", data-placement="bottom", data-title="Homepage")
                i.fa.fa-home

            // Topics
            if (post.categories != '' && post.categories.length > 0)
                div.btn-group.pull-left
                    a.btn.dropdown-toggle(data-toggle="dropdown")
                        i.fa.fa-tags
                    ul.dropdown-menu
                        for category in post.categories
                            li
                                a(href="/category/#{category.slug}") #{category.name}

            //a.btn.pull-left.tooltipButton#searchButton(data-placement="bottom", data-title="Search for other guides", tabindex="3")
            //    i.fa.fa-search
            //form.pull-left(method="get", action="/search", style="display: none;")
            //    input.form-control(type="text", name="q", placeholder="Search for guides")

            a.btn.pull-right.tooltipButton(href="https://plus.google.com/share?url=#{appUrl}/post/#{post.slug}", target="_blank", data-placement="bottom", data-title="Share the guide on Google Plus")
                i.fa.fa-google-plus
            a.btn.pull-right.tooltipButton(href="https://twitter.com/share?url=#{appUrl}/post/#{post.slug}&text=#{post.title}", target="_blank", data-placement="bottom", data-title="Share the guide on Facebook")
                i.fa.fa-facebook
            a.btn.pull-right.tooltipButton(href="http://www.facebook.com/sharer.php?url=#{appUrl}/post/#{post.slug}&title=#{post.title}", target="_blank", data-placement="bottom", data-title="Share the guide on Twitter")
                i.fa.fa-twitter
            a.btn.pull-right.tooltipButton#downloadPdfButton(href="/pdf/download/#{post.slug}", class=!pdfAvailable ? '_hide' : '', rel="nofollow", data-placement="bottom", data-title=post.pdf_downloads == 0 ? "This guide has not been downloaded yet! Let's be the first one" : "This guide has been downloaded " + post.pdf_downloads + (post.pdf_downloads == 1 ? " time" : " times")) PDF
            a.btn.pull-right.tooltipButton(href="/admin/post/edit/#{post._id}", data-placement="bottom", data-title="Edit the post") EDIT

            h1
                a(href="/post/#{post.slug}") #{post.title}

        .post-toc
            .post-meta
                div
                    | By #{post.created.username}, #{moment(post.updated.date || post.created.date).format('YYYY-MM-DD')}

            hr

            #toc

        .post-body
            .post-body-inner
                .container
                    .post-content
                        != marked(post.content)

                    // Comments
                    if comment.disqus.shortName
                        div.post-comments
                            h2
                                span Comments
                            p Help us improve this document by leaving your comments below. Thank you!
                            div#disqus_thread

                    // Footer
                    include ../layouts/footer

block footerScript
    script(type="text/javascript", src="/vendor/highlight/highlight.pack.js")
    script(type="text/javascript", src="/vendor/tocjs/js/toc.min.js")

    if comment.disqus.shortName
        script(type="text/javascript").
            // Disqus comments
            var disqus_shortname  = '#{comment.disqus.shortName}',
                disqus_identifier = '#{post._id}',
                disqus_title      = '#{post.title}',
                disqus_url        = '#{appUrl}/post/#{post.slug}';
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();

    script(type="text/javascript").
        $(document).ready(function() {
            $('.tooltipButton').tooltip({
                container: 'body'
            });

            // Toggle the search box
            $('#searchButton')
                .on('click', function() {
                    $(this).hide().next().show();
                })
                .next()
                .on('blur', 'input[name="q"]', function() {
                    $(this).parent().hide().prev().show();
                })

            // Toggle the TOC (table of contents)
            $('#toggle').on('click', function() {
                $(this).parents('.post').toggleClass('post-with-toc');
            });

            // Generate TOC
            $('#toc')
                .css('max-width', $('#toc').width())
                .toc({
                    selector: '.post-content > h2, h3, h4, h5, h6',
                    elementClass: 'post-toc-inner',
                    ulClass: 'nav',
                    prefixLinkClass: 'post-toc-level',
                    indexingFormats: '#{post.heading_styles}'
                });

            $('.post-body')
                // Style the table
                .find('table')
                    .addClass('table table-bordered')
                    .end()
                // Make the image responsive
                .find('img')
                    .addClass('img-responsive img-thumbnail');

            // Activate current heading in TOC based on current position
            var $window = $(window),
                $body   = $(document.body);
            $body.scrollspy({
                target: '.post-toc',
                //target: '#toc',
                offset: 50 // $('.post-toc').css('top')
            });
            $window.on('load', function() {
                $body.scrollspy('refresh');
            });

            // Highlight the source code
            hljs.initHighlightingOnLoad();
        });