extends ../layouts/backend

block head
    link(rel="stylesheet", href="/vendor/codemirror/lib/codemirror.css")
    link(rel="stylesheet", href="/vendor/fileupload/css/jquery.fileupload-ui.css")

block topnav
    form.nav.navbar-form.navbar-left(method="get", action="/admin/post")
        div.form-group
            input.form-control(name="q", placeholder="Search for posts", style="width: 300px")
        button.btn.btn-primary.btn-sm(type="submit")
            i.fa.fa-search

    div.nav.navbar-form.navbar-left
        a.btn.btn-sm.btn-info(href="/admin/post/add")
            i.fa.fa-plus
            |  WRITE NEW POST

block content
    ol.breadcrumb
        li
            a(href="/admin/post") Posts
        li.active Write new post

    include ../partial/flash

    form#addForm.form-horizontal(method="post", action="/admin/post/add")
        div.row
            div.col-sm-6.form-group(style="margin-left: 0; margin-right: 0;")
                input.form-control(name="title", placeholder="Title")
                small.help-block(style="display: none;")

            div.col-sm-6.form-group(style="margin-left: 0; margin-right: 0;")
                input.form-control(name="slug", placeholder="Slug")
                small.help-block(style="display: none;")

        div.form-group
            // Categories
            if categories
                div.col-sm-3
                    p.form-control-static Categories
                    for category in categories
                        div.checkbox
                            label
                                input(type="checkbox", name="categories[]", value="#{category._id}")
                                | #{category.name}

            // Heading style option
            div.col-sm-3
                div.form-horizontal
                    div.form-group
                        label.col-sm-4.control-label(for="heading_styles") Heading style
                        div.col-sm-8
                            select#headingStyles.form-control(name="heading_styles")
                                option(value="") None
                                option(value="111111") 1, 2, 3, ...
                                option(value="AAAAAA") A, B, C, ...
                                option(value="aaaaaa") a, b, c, ...
                                option(value="IIIIII") I, II, III, ...
                                option(value="iiiiii") i, ii, iii, ...
                                option(value="custom") Customize

                    div#customHeadingStyles(style="display: none")
                        - for (var i = 1; i <= 6; i++)
                            - var heading = i + '<sup>' + (i == 1 ? 'st' : (i == 2 ? 'nd' : (i == 3 ? 'rd' : 'th'))) + '</sup> level heading';
                            div.form-group
                                label.col-sm-4.control-label(for="heading_style_h#{i}")
                                    != heading
                                div.col-sm-8
                                    select.form-control(name="heading_style_h#{i}")
                                        option(value="1") 1, 2, 3, ...
                                        option(value="A") A, B, C, ...
                                        option(value="a") a, b, c, ...
                                        option(value="I") I, II, III, ...
                                        option(value="i") i, ii, iii, ...
                                        option(value="_") None

        div.form-group
            div.col-sm-12
                ul#editorTabs.nav.nav-tabs
                    li.active
                        a(href="#contentTab", data-toggle="tab") Content
                    li
                        a(href="#previewTab", data-toggle="tab") Preview

                div.tab-content
                    div#contentTab.tab-pane.active
                        div#editorToolbar
                            div.btn-group
                                button.btn.btn-default.markdownFormatButton(type="button", data-command="undo")
                                    i.fa.fa-undo
                                button.btn.btn-default.markdownFormatButton(type="button", data-command="redo")
                                    i.fa.fa-repeat

                                div.btn-group
                                    button.btn.btn-default.dropdown-toggle(type="button", data-toggle="dropdown")
                                        | H
                                        span.caret
                                    ul.dropdown-menu
                                        - for i in [1, 2, 3, 4, 5, 6]
                                            li
                                                a.markdownFormatButton(href="javascript: void(0);", data-command="heading", data-heading="#{i}")
                                                    | h#{i}

                                button.btn.btn-default.markdownFormatButton(type="button", data-command="bold")
                                    i.fa.fa-bold
                                button.btn.btn-default.markdownFormatButton(type="button", data-command="italic")
                                    i.fa.fa-italic
                                button.btn.btn-default.markdownFormatButton(type="button", data-command="strike")
                                    i.fa.fa-strikethrough
                                button.btn.btn-default.markdownFormatButton(type="button", data-command="quote")
                                    i.fa.fa-quote-left
                                button.btn.btn-default.markdownFormatButton(type="button", data-command="unordered-list")
                                    i.fa.fa-list-ul
                                button.btn.btn-default.markdownFormatButton(type="button", data-command="ordered-list")
                                    i.fa.fa-list-ol
                                button.btn.btn-default.markdownFormatButton(type="button", data-command="table")
                                    i.fa.fa-table
                                button.btn.btn-default.markdownFormatButton(type="button", data-command="link")
                                    i.fa.fa-link
                                button.btn.btn-default.markdownFormatButton(type="button", data-command="code")
                                    i.fa.fa-code
                                button.btn.btn-default.markdownFormatButton(type="button", data-command="rule") &mdash;
                                    i.fa.fa-ru

                                span.btn.btn-success.fileinput-button
                                    span Upload file
                                    input#uploader(type="file", name="file", data-url="/admin/file/upload")

                        div#editorContainer.d-markdown-editor
                            textarea#editor.form-control(name="content", style="height: 100%;")
                    div#previewTab.tab-pane
                        div#previewContainer
                            div.d-markdown-preview

            span.help-block.col-sm-12(style="display: none;")

        div#buttons.form-group
            div.col-sm-12
                button.btn.btn-primary(type="submit") SAVE
                button.btn.btn-default(type="submit", name="publish", value="true") SAVE and PUBLISH
                button.btn.btn-default(type="submit", name="draft", value="true") SAVE as DRAFT

block footerScript
    script(type="text/javascript", src="/vendor/autosave/jquery.autosave.min.js")
    script(type="text/javascript", src="/vendor/bootstrapvalidator/js/bootstrapValidator.min.js")
    script(type="text/javascript", src="/vendor/codemirror/lib/codemirror.js")
    script(type="text/javascript", src="/vendor/codemirror/mode/markdown/markdown.js")
    script(type="text/javascript", src="/vendor/fileupload/js/vendor/jquery.ui.widget.js")
    script(type="text/javascript", src="/vendor/fileupload/js/jquery.iframe-transport.js")
    script(type="text/javascript", src="/vendor/fileupload/js/jquery.fileupload.js")
    script(type="text/javascript", src="/vendor/marked/marked.js")
    script(type="text/javascript").
        var created = false;
        $(document).ready(function() {
            // Custom styles trigger
            $('#headingStyles').on('change', function() {
                ($(this).val() == 'custom') ? $('#customHeadingStyles').slideDown(300) : $('#customHeadingStyles').slideUp(300);
            });

            // Markdown editor
            var editor = CodeMirror.fromTextArea($('#editor').get(0), {
                mode: 'markdown',
                lineNumbers: false,
                matchBrackets: true,
                lineWrapping: true,
                theme: 'default'
            });
            editor.on('change', function(e) {
                // To ensure the form pass content for auto-saving
                var text = e.getValue();
                $('#editor').val(text).trigger('change').trigger('keyup');
            });

            // Preview the content
            $('#editorTabs a').click(function(e) {
                e.preventDefault();
                $(this).tab('show');

                if ($(this).attr('href') == '#previewTab') {
                    var content = editor.getDoc().getValue();
                    $('.d-markdown-preview').html(marked(content));
                }
            });

            $('.markdownFormatButton').on('click', function() {
                var command  = $(this).attr('data-command'),
                    doc      = editor.getDoc(),
                    text     = doc.getSelection(),
                    length   = text.length,
                    lines    = text.split('\n'),
                    numLines = lines.length,
                    replace  = [];
                switch (command) {
                    case 'undo':
                        doc.undo();
                        break;
                    case 'redo':
                        doc.redo();
                        break;
                    case 'heading':
                        var heading = parseInt($(this).attr('data-heading'));
                        doc.replaceSelection(Array(heading + 1).join('#') + ' ' + text);
                        break;

                    case 'bold':
                        doc.replaceSelection(('**' == text.substr(0, 2) && '**' == text.substr(length - 2, 2)) ? text.substr(2, length - 4) : '**' + text + '**');
                        break;
                    case 'italic':
                        doc.replaceSelection(('*' == text.substr(0, 1) && '*' == text.substr(length - 1, 1)) ? text.substr(1, length - 2) : '*' + text + '*');
                        break;
                    case 'strike':
                        doc.replaceSelection(('~~' == text.substr(0, 2) && '~~' == text.substr(length - 2, 2)) ? text.substr(2, length - 4) : '~~' + text + '~~');
                        break;
                    case 'quote':
                        for (var i = 0; i < numLines; i++) {
                            replace.push('> ' == lines[i].substr(0, 2) ? lines[i].substr(2) : '> ' + lines[i]);
                        }
                        doc.replaceSelection(replace.join('\n'));
                        break;
                    case 'unordered-list':
                        for (var i = 0; i < numLines; i++) {
                            if ('* ' == lines[i].substr(0, 2)) {
                                replace.push(lines[i].substr(2));
                            } else if ('1. ' == lines[i].substr(0, 3)) {
                                replace.push('* ' + lines[i].substr(3));
                            } else {
                                replace.push('* ' + lines[i]);
                            }
                        }
                        doc.replaceSelection(replace.join('\n'));
                        break;
                    case 'ordered-list':
                        for (var i = 0; i < numLines; i++) {
                            if ('* ' == lines[i].substr(0, 2)) {
                                replace.push('1. ' + lines[i].substr(2));
                            } else if ('1. ' == lines[i].substr(0, 3)) {
                                replace.push(lines[i].substr(3));
                            } else {
                                replace.push('1. ' + lines[i]);
                            }
                        }
                        doc.replaceSelection(replace.join('\n'));
                        break;
                    case 'table':
                        replace.push('| Header | Header |');
                        replace.push('|--------|--------|')
                        replace.push('| Cell   | Cell   |');
                        doc.replaceSelection(replace.join('\n'));
                        break;

                    case 'link':
                        doc.replaceSelection('[text](url)');
                        break;
                    case 'code':
                        if ('```' == text.substr(0, 3) && '```' == text.substr(length - 3, 3)) {
                            if (numLines == 1) {
                                replace.push(text.substr(3, length - 6));
                            } else {
                                replace.push(text.substr(4, length - 8));
                            }
                        } else {
                            replace.push(numLines == 1 ? '```' + text + '```' : '```\n' + text + '\n```');
                        }
                        doc.replaceSelection(replace.join('\n'));
                        break;
                    case 'rule':
                        doc.replaceSelection('\n\n---' == text.substr(length - 5, 5) ? text.substr(0, length - 5) : text + '\n\n---');
                        break;

                    default:
                        break;
                }
            });

            // Upload handler
            $('#uploader').fileupload({
                dataType: 'json',
                done: function(e, data) {
                    var files = data.result.files;
                    $.each(data.result.files, function(index, file) {
                        var text = ['[', file.title, '](', file.url, ')'].join('');
                        if (['bmp', 'gif', 'jpeg', 'jpg', 'png'].indexOf(file.extension.toLowerCase()) != -1) {
                            text = '!' + text;
                        }
                        editor.doc.replaceSelection(text);
                    });
                }
            });

            $('#addForm')
                // Validate form
                .bootstrapValidator({
                    fields: {
                        title: {
                            validators: {
                                notEmpty: {
                                    message: 'The title is required'
                                }
                            }
                        },
                        slug: {
                            validators: {
                                notEmpty: {
                                    message: 'The slug is required'
                                }
                            }
                        },
                        content: {
                            validators: {
                                notEmpty: {
                                    message: 'The content is required'
                                }
                            }
                        }
                    }
                })
                // Generate slug based on post's title
                .find('input[name="title"]')
                    .on('keyup', function() {
                        var title = $(this).val(), $slug = $('#addForm').find('input[name="slug"]')
                        if (title == '') {
                            $slug.val('').trigger('keyup');
                            return;
                        }
                        $slug.trigger('keyup');
                        $.ajax({
                            type: 'POST',
                            url: '/admin/post/slug',
                            data: {
                                title: title
                            },
                            dataType: 'json'
                        }).success(function(response) {
                            $slug.val(response.slug);
                        });
                    })
                    .end()
                // Auto save
                .autosave({
                    callbacks: {
                        trigger: {
                            method: 'interval',
                            options: {
                                interval: #{autoSave * 60 * 1000}
                            }
                        },
                        scope: 'all',
                        data: 'serializeObject',
                        condition: function(options, $inputs, formData, caller) {
                            if (#{autoSave} <= 0 || null == formData || '' == formData.title || '' == formData.slug || '' == formData.content) {
                                return false;
                            }
                            return true;
                        },
                        save: function(options, formData) {
                            $.ajax({
                                type: 'POST',
                                url: $('#addForm').attr('action'),
                                data: formData,
                                dataType: 'json'
                            }).success(function(response) {
                                if ('ok' == response.result) {
                                    $('#addForm').attr('action', '/admin/post/edit/' + response.id);
                                }
                            });
                        }
                    }
                })
                // inject submit event, send form's data by ajax
                .on('click', 'button[type="submit"]', function(e){
                    var $this = $(this);
                    var $form = $('#addForm');
                    var thisLabel = $this.text();
                    var thisWidth = $this.outerWidth();

                    var action = '';
                    if ($this.attr('name')) action = '&' + $this.attr('name') + '=true';

                    // force width of the button
                    $this.html('<i class="fa fa-spinner fa-spin"></i>').css('width', thisWidth);;

                    // serialize and send form data
                    $.post($form.attr('action'), $form.serialize() + action, function(result) {
                        // set the width of button back to default
                        $this.html(thisLabel).css('width', 'auto');

                        // preparing flash message
                        var $flashContainer = $('<div class="alert"></div>');
                        var flashClose = '<a class="close" data-dismiss="alert" href="#" aria-hidden="true"> &times;</a>';
                        if (result.result == 'ok') {
                            // check if create or update action
                            var html = '';
                            if (created) html = 'The post has been updated successfully ' + flashClose;
                            else {
                                html = 'The post has been added successfully ' + flashClose;
                                var newUrl = '/admin/post/edit/' + result.id;
                                $('#addForm').attr('action', newUrl);
                            }

                            $flashContainer.addClass('alert-success').html(html).insertAfter('.breadcrumb');
                            $('.breadcrumb').find('.active').text('Edit post');

                            $(document).attr('title', 'Edit post');

                            // push history state with the url of edit page
                            if (history && history.pushState && !created) {
                                // if has the history api
                                history.pushState(null, 'Edit post', newUrl);
                            }

                            // set created flag to true
                            created = true;
                        } else {
                            var html = '';
                            if (created) {
                                 html = 'Could not update the post' + flashClose;
                            } else {
                                html = 'Could not add the post' + flashClose;
                            }
                            $flashContainer.addClass('alert-error').html(html).insertAfter('.breadcrumb');
                        }
                    }, 'json');

                    return false;
                });
        });

