extends ../layouts/frontend

block head
    link(rel="stylesheet", href="/vendor/tocjs/css/toc-scroll.min.css")

block topnav
    div.nav.navbar-form
        a.btn.btn-sm.btn-success(href="/post/pdf/#{post.slug}")
            i.fa.fa-download
            |  DOWNLOAD PDF

        if signedIn
            a.btn.btn-sm.btn-info(href="/admin/post/edit/#{post._id}")
                i.fa.fa-edit
                |  EDIT

block content
    div.container
        h1
            a(href="/post/#{post.slug}") #{post.title}
        .d-post-meta
            | Posted by #{post.created_user.username} on #{moment(post.created_date).format('YYYY-MM-DD HH:mm')}
            if post.categories
                |  in&nbsp;
                span
                    for category in post.categories
                        a.label.label-info(href="/category/#{category.slug}") #{category.name}

        hr

        div.row
            div.col-lg-3
                // Post table of contents
                div#toc.d-post-toc

            div.col-lg-9
                // Post content
                div#content.d-post-content
                    != marked(post.content)

                // Post comments
                div#comments.d-post-comments
                    h2 Let's us know what you think

                    hr

                    p Help us improve this document by leaving your comments below. Thank you!

                    ul.nav.nav-tabs
                        li.active
                            a(href="#facebookComments") Facebook comments
                        li
                            a(href="#googleComments") Google+ comments

                    div.tab-content
                        div#facebookComments.tab-pane.active
                            div.fb-comments(data-href="#{siteUrl}/post/#{post.slug}")
                        div#googleComments.tab-pane
                            div.g-comments(data-first_party_property="BLOGGER", data-view_type="FILTERED_POSTMOD", data-href="#{siteUrl}/post/#{post.slug}")

block footerScript
    script(type="text/javascript", src="/vendor/tocjs/js/toc.min.js")
    script(type="text/javascript").
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id; js.async = true;
            js.src = "http://connect.facebook.net/en_US/all.js#xfbml=1";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
        })();

        $(document).ready(function() {
            // Make the comment tabs
            $('.d-post-comments .nav a').click(function(e) {
                e.preventDefault();
                $(this).tab('show');
            });

            $('#content')
                // Style the table
                .find('table')
                    .addClass('table table-bordered')
                    .end()
                // Make the image responsive
                .find('img')
                    .addClass('img-responsive img-thumbnail');

            // Generate table of contents
            $('#toc')
                .css('max-width', $('#toc').width())
                .toc({
                    selector: '#content > h2, h3, h4, h5, h6',
                    elementClass: 'toc',
                    ulClass: 'nav',
                    heading: 'Table of Contents'
                });

            var $window = $(window),
                $body   = $(document.body);
            $body.scrollspy({
                target: '#toc',
                offset: 100
                //offset: $('#content').offset().top
                // offset: 0 // $('#navbar').outerHeight(true)
            });

            $window.on('load', function() {
                $body.scrollspy('refresh');
            });

            setTimeout(function() {
                var $sideBar = $('#toc');
                $sideBar.affix({
                    offset: {
                        top: function() {
                            var offsetTop      = $sideBar.offset().top,
                                sideBarMargin  = parseInt($sideBar.children(0).css('margin-top'), 10),
                                navOuterHeight = $('#navbar').height();
                            return (this.top = offsetTop - navOuterHeight - sideBarMargin);
                        },
                        bottom: function() {
                            return (this.bottom = $('footer').outerHeight(true));
                        }
                    }
                });
            }, 100);
        });