extends ../layouts/backend

block content
    ol.breadcrumb
        li
            a(href="/admin/user") Users
        li.active Edit user

    div.col-lg-8.col-lg-offset-2
        include ../partial/flash

        form#editAdminForm.form-horizontal(action="/admin/user/edit/#{user._id}", method="post")
            div.form-group
                label.control-label.col-lg-3 Full name
                div.col-lg-4
                    input.form-control(type="text", name="first_name", placeholder="First name", value="#{user.first_name}")
                div.col-lg-4
                    input.form-control(type="text", name="last_name", placeholder="Last name", value="#{user.last_name}")

            div.form-group
                label.control-label.col-lg-3 User name
                div.col-lg-6
                    input.form-control(type="text", name="username", autocomplete="off", value="#{user.username}", disabled)

            div.form-group
                label.control-label.col-lg-3 Email address
                div.col-lg-6
                    input.form-control(type="text", name="email", autocomplete="off", value="#{user.email}")

            div.form-group
                div.col-lg-9.col-lg-offset-3
                    span.text-info Leave the password fields empty if you do not want to change it

            div.form-group
                label.control-label.col-lg-3 Password
                div.col-lg-6
                    input.form-control(type="password", name="password")

            div.form-group
                label.control-label.col-lg-3 Retype password
                div.col-lg-6
                    input.form-control(type="password", name="confirm_password")

            div.form-group
                label.control-label.col-lg-3 Role
                div.col-lg-4
                    select.form-control(name="role", value="#{user.role}")
                       option(value="admin", selected='admin' == user.role) Administrator
                       option(value="root", selected='root' == user.role) Root

            div.form-group
                div.col-lg-9.col-lg-offset-3
                    button.btn.btn-primary(type="submit") Save

block footerScript
    script(type="text/javascript", src="/vendor/bootstrapvalidator/js/bootstrapValidator.min.js")
    script(type="text/javascript").
        $(document).ready(function() {
            $('#editAdminForm').bootstrapValidator({
                fields: {
                    first_name: {
                        validators: {
                            notEmpty: {
                                message: 'The first name is required'
                            }
                        }
                    },
                    username: {
                        validators: {
                            notEmpty: {
                                message: 'The username is required'
                            },
                            remote: {
                                url: '/admin/user/check/username',
                                data: {
                                    id: '#{user._id}'
                                },
                                message: 'The username is already taken by other administrator'
                            }
                        }
                    },
                    email: {
                        validators: {
                            notEmpty: {
                                message: 'The email is required'
                            },
                            remote: {
                                url: '/admin/user/check/email',
                                data: {
                                    id: '#{user._id}'
                                },
                                message: 'The email is already taken by other administrator'
                            }
                        }
                    },
                    password: {
                        validators: {
                            identical: {
                                field: 'confirm_password',
                                message: 'The password and confirmation one are not the same'
                            }
                        }
                    },
                    confirm_password: {
                        validators: {
                            identical: {
                                field: 'password',
                                message: 'The password and confirmation one are not the same'
                            }
                        }
                    }
                }
            });
        });