doctype html
html
    head
        meta(charset="utf-8")
        meta(http-equiv="Content-type",    content="text/html;charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

        title #{title}

        //link(rel="stylesheet", href="/vendor/bootstrap/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/bootstrap-theme/css/yeti.css")
        link(rel="stylesheet", href="/vendor/font-awesome/css/font-awesome.min.css")
        link(rel="stylesheet", href="/asset/css/backend.css")

        //if lt IE 9
            script(src="/vendor/html5shiv/html5shiv.min.js")
            script(src="/vendor/respond/respond.min.js")

        block head
    body
        .d-wrapper
            div.navbar.navbar-default.navbar-fixed-top
                div.navbar-header
                    button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    if (logo_content == 'text')
                        a.navbar-brand(href="/") #{logo}
                    else
                        a.navbar-brand(href="/")
                            img(src='/vendor/fileupload/img/logo.png' height='23px')


                div#navbar-collapse.collapse.navbar-collapse
                    div.d-topnav
                        block topnav

                    ul.nav.navbar-nav.navbar-right
                        li.dropdown
                            a.dropdown-toggle(href="#", data-toggle="dropdown")
                                | Hello #{sessionUser.full_name || sessionUser.username} &nbsp;
                                b.caret
                            ul.dropdown-menu
                                li
                                    a(href="/admin/password") Change password
                                li.divider
                                li
                                    a(href="/") Visit website
                                li
                                    a(href="/signout") Sign out

            .d-main
                .d-sidebar
                    div.list-group
                        a.list-group-item(href="/admin/category")
                            i.fa.fa-tag
                            | Categories
                        a.list-group-item(href="/admin/post")
                            i.fa.fa-edit
                            | Posts
                        a.list-group-item(href="/admin/user")
                            i.fa.fa-user
                            | Users
                        a.list-group-item(href="/admin/setting")
                            i.fa.fa-wrench
                            | Setting
                .d-content-wrapper
                    .d-content
                        block content

            .d-push

        footer
            small &copy; #{new Date().getFullYear()} #{config.app.name}

        //if lt IE 9
            script(src="/vendor/jquery/jquery-1.10.2.min.js")

        //[if gte IE 9]><!
        script(src="/vendor/jquery/jquery-2.0.3.min.js")
        //<![endif]

        script(src="/vendor/bootstrap/js/bootstrap.min.js")
        script(type="text/javascript", src="/vendor/socket.io/socket.io.min.js")

        script(type="text/javascript").
            $(document).ready(function() {
                var socket = io.connect();
                socket.emit('userName', '#{sessionUser.username}');

                // Activate menu item based on the current URI
                var path = window.location.pathname;
                $('a.list-group-item').each(function(index, item) {
                    if (path.substr(0, $(this).attr('href').length) == $(this).attr('href')) {
                        $(this).addClass('active');
                    }
                });
            });

        block footerScript